*
{
    margin: 0;
    padding: 0;
}

html, body
{
    background: #000000;
    font-family: 'Noto Sans';
    color: white;

    scroll-behavior: smooth;
}

.heading
{
    font-family: "VT323";
    font-weight: 400;
    font-size: 3em;
    color: white;
    padding-top: 30px;
    padding-left: 20px;
    text-align: center;
}
#home
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-desc
{
    font-size: 1.5em;
    font-weight: 500;
    float: right;
    text-align: center;
    color: #ececec;
    margin-right: 100px;
    padding-right: 200px;
    background: rgba(0, 0, 0, 0);
    z-index: 1;
}

.glow {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #0066ff;
    filter: blur(256px);
    position: absolute;
    left: 60%;
}

.home-img
{
    height: 500px;
    padding: 100px;
    margin-left: 100px; 
    padding-left: 200px;
}
.regular-btn
{
    color: #ffffff;
    background: #048DDA;
    width: 335px;
    height: 60px;
    border-radius: 15px;
    margin-top: 30px;
    border: none;
    font-size: 15px;
    font-weight: 900;
    box-shadow: 0 16px 0 #0079BC;

    cursor: pointer;
}

.regular-btn:active 
{
    background-color: #048DDA;
    box-shadow: none;
    transform: translateY( 16px);
    color: white;
}

.transp-btn
{
    color: #ffffff;
    background: #4B4B4B;
    font-weight: 900;
    width: 335px;
    height: 60px;
    border-radius: 15px;
    margin-top: 30px;
    border: none;
    font-size: 15px;
    box-shadow: 0 16px 0 #454545;

    cursor: pointer;
}

.transp-btn:active 
{
    background-color: #4B4B4B;
    box-shadow: none;
    transform: translateY(16px);
    color: white;
}

#why-us
{
    display: flex;
    align-items: center;
    justify-content: center;
}


/*WHY US*/

.p-regular
{
    margin: 100px;
    font-size: 1.1em;
}

.why-us-img
{
    height: 400px;
    padding: 100px 200px;

}

.game-font
{
    font-family: "VT323";
    color: #048DDA;
    text-shadow: 0 0 60px rgb(0, 98, 255);
}


#what-we-do
{
    display: flex;
    align-items: center;
    justify-content: center;
}



@media only screen and (max-width: 1024px)
{
    
    .home-img
    {
        display: none;
    }

    .home-desc
    {
        padding-top: 200px;
        text-align: center;
        padding-right: 0;
        margin-right: 0;
        float: none;
        margin-bottom: 250px;
    }
    .why-us-img
    {
        height: 200px;
        padding: 0 0;
        padding-top: 100px;

    }

    #why-us
    {
        display: block;
        text-align: center;
    }

    .why-us-img
    {
        height: 200px;
        padding: 0 0;
        padding-top: 100px;

    }

    #what-we-do
    {
        display: block;
        text-align: center;
    }
}