*
{
    margin: 0;
    padding: 0;
}

html, body
{
    background: #000000;
    font-family: 'Noto Sans';
    color: white;

    scroll-behavior: smooth;
}

.start-container {
  width: 100%;
  height: 300px;
  background: rgba(34,34,34,1);
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.greet {
  color: rgb(187, 187, 187)
}

.searchbar {
    width: 25vw;
    height: 32px;
    border-radius: 6px;
}
.searchbutton {
    width: 32px;
    height: 32px;
    border-radius: 6px;
}